body{
    margin: 0;
    color: white;
    background-image: url('restaurant-mural-wallpaper_52683-47493.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 35px;
}

hr {
    width: 400px;
    margin: 0;
    border: 1px solid white;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.menu-container {
    width: 400px;     
}

table {
    width: 400px;
    margin-bottom: 20px;
}

td {
    font-size: 20px;
    text-align: left;
}

th {
    font-size: 25px;
    text-align: left;
}

footer {
    margin-top: 5px;
    font-size: 18px;
    line-height: 1;
    width: 400px;    
}

button {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #ffffff;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

